body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ccd046;
    font-size: 3.5vw;
    font-family: 'Caveat', cursive;
}

.header__container {
    width: 100vw;
    padding: 2vh 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__side-img-block--left {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__side-img-block--right {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__main-img-block {
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.header__side-img {
    width: 32vw;
    height: 6vw;
}

.header__main-img {
    width: 18vw;
    height: 18vw;
    border-radius: 50%;
}

.header__text {
    padding: 0 8vw;
    color: #ab1531;
    font-weight: 600;
}

/* section 1 */

.section1 {
    width: 100vw;
    height: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;

}

.section1__item {
    width: 38vw;
    height: 38vw;
    font-size: 3.5vw;
    align-content: center;
    justify-content: center;
    font-family: 'Caveat', cursive;
    color: #0f0f11;

}

.section1__img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

/* section 2 */

.section2 {
    width: 100%;
}

.section2__header-img {
    text-align: center;
    padding-bottom: 2vw;
}

.section2__container {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.section2__item {
    width: 38vw;
    height: 38vw;
    font-size: 3.5vw;
    align-content: center;
    justify-content: center;
    font-family: 'Caveat', cursive;
    color: #0f0f11;
}

.section2__item {
    width: 38vw;
    height: 38vw;
    font-size: 3.5vw;
    align-content: center;
    justify-content: center;
    font-family: 'Caveat', cursive;
    color: #0f0f11;
}

/* section 3 */

.section3, .section4 {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.section3__video-container {
    width: 50%;
    padding: 0 2vw;
    height: 48vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section3__item {
    width: 50%;
    height: 48vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.section3__item-text {
    padding: 0 4vw;
}

.movie {
    width: 100%;
    height: auto;
    margin: 0 auto; 
    display: block;
    max-width: 38vw;
}

/* section 4 */

.section4__item {
    width: 50%;
    height: 48vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section4__container {
    width: 49vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section4__item-text {
    padding: 0 4vw;
}

.section4__video-container {
    width: 80%;
    padding: 0 2vw;
    height: 48vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section4__img {
    width: 38vw;
}

.section5 {
    width: 100%;
}

.section5__item {
    width: 60%;
    margin-left: auto;
    align-items: flex-start;
}

/* footer */
.footer {
    width: 100%;
    padding-bottom: 8vw;
}

.footer__top-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer__bottom-container {
    padding-top: 8vw;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-img {
    width: 4vw;
    height: 4vw;
    color: blue;
}

/* slider */

.slider {
    scroll-snap-type: y mandatory;
    display: flex;
    overflow-x: scroll;
    width: 38vw;
  }
  
  .child {
      width: 38vw;
      height: 38vw;
    scroll-snap-align: start;
  }